# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------

# Optional (for fathom analytics)
#NEXT_PUBLIC_FATHOM_ID=

# Optional (for rendering tweets more efficiently)
#TWITTER_ACCESS_TOKEN=

# Optional (for persisting preview images to redis)
# NOTE: if you want to enable redis, only REDIS_HOST and REDIS_PASSWORD are required
#REDIS_HOST=
#REDIS_PASSWORD=
#REDIS_USER='default'
#REDIS_NAMESPACE='preview-images'

NOTION_TOKEN=secret_GNnoxG5UXFrLPhIB7B2zOyqNdooNZWaKlcmZ1Kqzzox
NOTION_DATABASE_ID=0277288c2e3047b59baa60a5b18bdbed
